:host {
  --ion-background-color: #f4f6f9;
}

.custom-bg {
  --background: none;

  background:
  linear-gradient(
    rgba(15, 42, 28, 0.75),
    rgba(9, 121, 73, 0.75)
  ),
    url('https://i.ibb.co/Z67TYz2T/foto-polleria-editado.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* --- Botón Volver --- */
.header-action {
  padding: 15px 10px;
}

.header-action ion-button {
  --color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  text-transform: none;
}

/* --- Contenedor de la Tarjeta --- */
.login-container {
  max-width: 400px;
  width: 90%;
  margin: 20px auto 10px auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  background: #ffffff;
  overflow: hidden;
}

/* --- Parte Morada (Arriba) --- */
.top-section {
  background: linear-gradient(135deg, #2ef020, #408000);
  padding: 40px 20px 30px 20px;
  text-align: center;
  color: white;
}

.icon-circle {
  background: rgba(255, 255, 255, 0.2);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px auto;
}

.icon-circle ion-icon {
  font-size: 32px;
  color: white;
}

.top-section h1 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.top-section p {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  opacity: 0.9;
}

/* --- Parte del Formulario (Abajo) --- */
.form-section {
  padding: 30px 25px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 8px;
}

.input-wrapper {
  background: #f4f5f8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 50px;
}

ion-input {
  --background: transparent;
  --padding-start: 0;
  font-size: 14px;
  color: #333;
}

.eye-icon {
  font-size: 22px;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}

/* --- Botón Ingresar --- */
.btn-ingresar {
  --background: #6dff48;
  --background-hover: #84d82b;
  --border-radius: 12px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: none;
  box-shadow: none;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #5c6c7b;
  cursor: pointer;
}

/* --- Texto Fuera de la Tarjeta --- */
.test-credentials {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
}