<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedido">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activos">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Activos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ventas">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>