<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Panel Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Bienvenido a Pollería Dylan</h1>

  <ion-card>
    <ion-card-content>
      🍗 Ventas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      🛵 Pedidos
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      👥 Clientes
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      📦 Productos
    </ion-card-content>
  </ion-card>

  <ion-button
    expand="block"
    color="danger"
    (click)="cerrarSesion()">

    Cerrar Sesión

  </ion-button>

</ion-content>